<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
      <title> Speed Leasing | Georgia Calculator </title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <style type="text/css">
         body{
            padding: 20px 50px 20px 50px;
         }
         p,.c7{
            text-align: justify;
         }
         .c2{
            text-align: center;
         }
         ol,p {
            font-size: 18px;
            font-weight: 400;
         }
         .c5{
            font-weight: 700;
         }
         .c11{
            color: red;
         }
         img {
            width: 100%%;
            height: auto;
         }
         .c20{
            display: block;
         }
         .c21{
            display: inline-block;
            text-align: left;
            padding-left: 30px;
         }
      </style>
   </head>
   <body class="c8">
      <p class="c7" id="h.gjdgxs">
         <span class="c1">
            In Georgia, the taxes work a little different than in other states. When you do a lease in this state, you will need to run the VIN number through a Georgia Tax Website. The site will give you the correct tax amount to enter in the Speed Leasing Calculator.
         </span>
      </p>
      <p class="c7">
         <span class="c1">
            To begin, select Georgia as the State in the top left of the calculator. Click the link directly below that says &ldquo;Tax Amount from Georgia Drives&rdquo;.
         </span>
      </p>
      <p class="c2">
         <span>
            <%= image_tag "georgia_image4.png" %>
         </span>
      </p>
      <p class="c7"><span class="c1">When the GA Tax site opens, select Yes under &ldquo;Do you know your VIN.&rdquo; Enter the VIN. &nbsp;Once you enter the VIN the site will begin to populate other questions about the purchase (see below).</span></p>
      <p class="c2">
         <span>
            <%= image_tag "georgia_image2.png" %>
         </span>
      </p>
      <p class="c7"><span class="c1">Answer the questions as follows:</span></p>
      <div class=c20>
         <div class=c21>
         <ol class="c6 lst-kix_list_1-0 start" start="1">
            <li class="c3"><span class="c9 c5">New Georgia Resident?</span><span class="c1">&nbsp;Choose accordingly </span></li>
            <li class="c3"><span class="c9 c5">Did you purchase the vehicle from a dealer?</span><span class="c1">&nbsp;Yes</span></li>
            <li class="c3"><span class="c5 c9">Is this a new or used vehicle?</span><span class="c1">&nbsp;Choose accordingly</span></li>
            <li class="c3"><span class="c9 c5">Purchase Date?</span><span class="c1">&nbsp;The date used on the lease contracts</span></li>
            <li class="c3"><span class="c9 c5">Purchase Price?</span><span class="c1">&nbsp;Bike Sale Price (do not include prep or other fees)</span></li>
            <li class="c3"><span class="c9 c5">Did you Trade a Vehicle?</span><span class="c1">&nbsp;Choose accordingly. &nbsp;</span><span class="c11">IMPORTANT: If there is a trade, you must select &ldquo;Yes&rdquo; and enter the trade amount.</span><span class="c1">&nbsp;</span></li>
            <li class="c3"><span class="c9 c5">Is the vehicle leased?</span><span class="c1">&nbsp;Yes</span></li>
            <li class="c3"><span class="c9 c5">&ldquo;Total Payments&rdquo; or the &ldquo;Agreed Upon Value:&rdquo;</span><span class="c1">&nbsp;Please select &ldquo;Agreed Upon Value.&rdquo; Enter the Bike Sale Price again. </span></li>
         </ol>
         </div>
      </div>
      <p class="c7"><span>When the form is completed, it will look like this (see below). You will be able to click the blue </span><span class="c5">Calculate Fees</span><span class="c1">&nbsp;button at the bottom.</span></p>
      <p class="c7 c12"><span class="c1"></span></p>
      <p class="c2">
         <span>
            <%= image_tag "georgia_image1.png" %>
         </span>
      </p>
      <p class="c0"><span class="c1"></span></p>
      <p class="c4">
         <span>When you click </span>
         <span class="c5">
            Calculate Fees
         </span>
         <span class="c1">, it will give you the exact tax amount you need to enter in the Speed Leasing Payment Calculator.
         </span>
      </p>
      <p class="c2">
         <span>
            <%= image_tag "georgia_image5.png" %>
         </span>
      </p>
      <p class="c0"><span class="c1"></span></p>
      <p class="c7">
         <span class="c1">
            Take the given amount, return to the Speed Leasing Calculator and enter the correct Tax amount next to the Blue GA Tax Site link. &nbsp;Once you have the correct number, you are free to continue working your deal.
         </span>
      </p>
      <p class="c2">
         <span>
            <%= image_tag "georgia_image3.png" %>
         </span>
      </p>
      <p class="c7">
         <span class="c1">
            Remember, if you change bikes, your price, or the trade numbers, you will need to repeat this process before contracting to make sure you have the taxes correct.
         </span>
      </p>
      <p class="c7">
         <span class="c1">
            If you have any questions or would like to walk through it with someone on the phone, please give Underwriting a call at 1-844-390-0717. &nbsp;Option 1 for Dealer, then 1 again for Underwriting.
         </span>
      </p>
   </body>
</html>