<!DOCTYPE html>
<html>
  <head>
    <title>Speed Leasing - Get on the motorcycle of your dreams</title>
    <meta name="p:domain_verify" content="3a13ee95171e40f9bd5ad6bb0b637452"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
